#1.Explain the key features of python that make it a popular choice of programming.
Python is a popular programming language known for its simplicity, readability, and versatility. Here are some key features of Python that make it a popular choice among developers:

**Key Features of Python:**

1.**Easy to Learn and Read:** Python has a simple and clean syntax that makes it easy to learn, understand, and write code. Its readability resembles the English language, which reduces the cost of program maintenance.

**2.Extensive Standard Library:** Python comes with a large standard library that provides support for various tasks like file I/O, networking, database management, data processing, and more. This helps developers write code faster without having to build everything from scratch.

**3.Versatile and Flexible:**Python can be used for various programming tasks, including web development, data science, artificial intelligence, scientific computing, automation, and more. Its versatility makes it a valuable tool for a wide range of applications.

**4.Large Community Support:** Python has a vast community of developers who contribute to its growth and development. This community support means there are plenty of resources, libraries, and frameworks available to help developers solve problems and build applications efficiently.

**5.Open Source:** Python is open source software, which means it is free to use and distribute. This has contributed to its widespread adoption and popularity among developers and organizations.

**6.Object-Oriented Programming (OOP):** Python supports OOP principles, allowing developers to write reusable and maintainable code through the use of classes and objects. This makes it easier to organize and structure code for complex projects.

**7.Dynamic Typing and Memory Management:** Python is dynamically typed, meaning variables don't need to be declared with a data type. It also has automatic memory management through garbage collection, which simplifies memory allocation and deallocation for developers.

**8.Platform Independent:** Python is a cross-platform language, meaning it can run on different operating systems like Windows, macOS, and Linux without any modifications. This portability makes it a go-to choice for building applications that need to run on multiple platforms.

These features, among others, have contributed to Python's popularity and made it a versatile and powerful programming language for a wide range of applications.

#2.Describe the role of predefined keywords in python and provide examples of how they are used in a program.
In Python, **predefined keywords** are reserved words that have special meanings and are built-in to the language. These keywords are **used to define the syntax and structure of Python code and cannot be used as identifiers** for variables, functions, or classes. Here is a list of the predefined keywords in Python:

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [7]:
help("yield")

The "yield" statement
*********************

   yield_stmt ::= yield_expression

A "yield" statement is semantically equivalent to a yield expression.
The yield statement can be used to omit the parentheses that would
otherwise be required in the equivalent yield expression statement.
For example, the yield statements

   yield <expr>
   yield from <expr>

are equivalent to the yield expression statements

   (yield <expr>)
   (yield from <expr>)

Yield expressions and statements are only used when defining a
*generator* function, and are only used in the body of the generator
function.  Using yield in a function definition is sufficient to cause
that definition to create a generator function instead of a normal
function.

For full details of "yield" semantics, refer to the Yield expressions
section.

To get the documentation about the predefined words in python we use help()

**Key Roles of Predefined Keywords:**

**1.Control Flow:** Keywords like if, else, elif, for, while, and break are used to control the flow of the program based on conditions and loops.

**2.Data Types and Values:** Keywords such as True, False, None, and, or, and not represent data types or logical operators used for performing logical operations.

**3.Function and Class Definition:** Keywords like def and class are used to define functions and classes, which are building blocks of Python programs.

**4.Error Handling:** Keywords such as try, except, finally, raise, and assert are used for handling exceptions and errors gracefully.

**5.Variable Scope and Namespace Management:** Keywords like global, nonlocal, del, and yield help manage the scope of variables and namespaces.

Here are some examples demonstrating the use of Python keywords in a program:

**Example 1:** Control Flow using if, elif, and else

In [11]:
x=10
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

**Example 2:** Looping with for and Using break

In [12]:
for i in range(10, 15):
    if i == 13:
        break  # Exit the loop when i is 13
    print(i)

10
11
12

**Example 3:** Handling Exceptions with try and except

In [15]:
try:
    x = 10
    y = 0
    result = x / y
    print("Division result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero!")

Error: Cannot divide by zero!

#3.Compare and Contrast mutable and immutable objects in python with examples.
In Python, objects are classified as either mutable or immutable based on whether their state (i.e., their data/content) can be changed after they are created

**Mutable objects:**

*Objects whose state **can be changed** after creation are considered mutable.

*Examples of mutable objects in Python include lists, dictionaries, and sets.

*When you modify a mutable object, you are actually changing the object itself, not creating a new object.

*Which supports item assignment(refers to the process of assigning a new value to an individual element within a mutable data structure)

Example of a mutable object (list):

In [17]:
list_cont=[1, 2, 3, 4]
list_cont[0]

list

In [18]:
type(list_cont)

list

In [19]:
list_cont[3]=5.25
list_cont

[1, 2, 3, 5.25]

In [22]:

# Dictionary is a mutable object
person = {'name': 'Alice', 'age': 25}
print(f"Original dictionary: {person}")

# Modifying the dictionary (mutates the object)
person['age'] = 26
print(f"Modified dictionary: {person}")  # The original dictionary is changed

Original dictionary: {'name': 'Alice', 'age': 25}
Modified dictionary: {'name': 'Alice', 'age': 26}

**Immutable objects:**

*Objects whose state **cannot be changed** after creation are considered immutable.

*Examples of immutable objects in Python include integers, floats, strings, and tuples.

*When you "modify" an immutable object, you are typically creating a new object with the modified value, as the original object cannot be changed.

*It does not support Item assignment

Example of an immutable object (string):

In [20]:
b="pwskills"
b[0]

'p'

In [21]:
b[1]=i  #as it is a string it does not support item assignment which is an immutable object

TypeError: 'str' object does not support item assignment

In [ ]:
# Tuple is an immutable object
coordinates = (10, 20)
print(f"Original tuple: {coordinates}")

# Trying to modify the tuple (raises an error)
# coordinates[0] = 15  # Uncommenting this line will raise a TypeError

# Creating a new tuple instead
new_coordinates = (15, 20)
print(f"New tuple: {new_coordinates}")  # A new tuple is created

#4.Discusss the different types of operators in python and provide examples of how they are used.

**Operators in Python**:

Operators in Python are special symbols that perform computations or operations on variables and values. Python supports several types of operators, each serving different purposes such as arithmetic, comparison, logical operations, and more.

**1.Arithmetic Operators**

**Arithmetic operators are used to perform basic mathematical operations.

Addition -> x + y (adds x and y)

Subtraction -> x - y (subtracts y from x)

Multiplication -> x * y (multiplies x and y)

Division -> x / y (divides x by y)

Floor Division - x // y (divides x by y and rounds down)

Modulus -> x % y (remainder of x divided by y)

Exponentiation -> x ** y (raises x to the power of y)

In [24]:
# Addition
result_addition = 10 + 5
print("Addition result:", result_addition)

# Subtraction
result_subtraction = 10 - 5
print("Subtraction result:", result_subtraction)

# Multiplication
result_multiplication = 10 * 5
print("Multiplication result:", result_multiplication)

# Division
result_division = 10 / 5
print("Division result:", result_division)

# Floor Division
result_floor_division = 10 // 3
print("Floor Division result:", result_floor_division)

# Modulus (Remainder)
result_modulus = 10 % 3
print("Modulus result:", result_modulus)

# Exponentiation
result_exponentiation = 2 ** 3
print("Exponentiation result:", result_exponentiation)

Addition result: 15
Subtraction result: 5
Multiplication result: 50
Division result: 2.0
Floor Division result: 3
Modulus result: 1
Exponentiation result: 8

**2. Comparison Operators**

**Comparison operators are used to compare two values. They return a Boolean value (True or False).

equal to -> x == y (True if x equals y)

Not equal to -> x != y (True if x is not equal to y)

Greater than -> x > y (True if x is greater than y)

Less than -> x < y (True if x is less than y)

Greater than or equal to -> x >= y (True if x is greater than or equal to y)

Less than or equal to -> x <= y (True if x is less than or equal to y)

In [29]:
# Equal to
print(5 == 5)

# Not equal to
print(3 != 3)

# Greater than
print(5 > 3)

# Less than
print(3 < 5)

# Greater than or equal to
print(5 >= 5)

# Less than or equal to
print(13 <= 5)

True
False
True
True
True
False

**3.Logical Operators**

**Logical operators are used to combine conditional statements. They return True or False based on the evaluation.

Logical AND -> x and y (True if both x and y are True)

Logical OR -> x or y (True if either x or y is True)

Logical NOT -> not x (True if x is False)

In [34]:
a = True
b = False

print(a and b)  # Logical AND
print(a or b)   # Logical OR
print(not a)    # Logical NOT

False
True
False

**4.Assignment Operators**

**Assignment operators are used to assign values to variables.

Assignment -> x = 5 (assigns value 5 to x)

Add and assign -> x += 3 (adds 3 to x and assigns result to x)

Subtract and assign -> x -= 2 (subtracts 2 from x and assigns result to x)

Multiply and assign -> x *= 4 (multiplies x by 4 and assigns result to x)

Divide and assign -> x /= 2 (divides x by 2 and assigns
result to x)

Floor divide and assign -> x //= 2 (floor divides x by 2 and assigns result to x)

Modulus and assign -> x %= 2 (modulus of x by 2 and assigns
result to x)

Exponentiate and assign -> x **= 3 (raises x to the power of
3 and assigns result to x)

In [33]:
x = 5
x += 3  # x = x + 3
print(x)

y = 10
y *= 2  # y = y * 2
print(y)

#Exponentiate assignment
z = 4
z **= 7 #z = z ** 7
print(z)

# Floor Division Assignment
x //= 2  # Equivalent to x = x // 2
print("Floor Division Assignment - x:", x)

# Modulus Assignment
x %= 3  # Equivalent to x = x % 3
print("Modulus Assignment - x:", x)

8
20
16384
Floor Division Assignment - x: 4
Modulus Assignment - x: 1

**5.Bitwise Operators**

Bitwise operators are used to perform bit-level operations on binary numbers.

Bitwise AND -> x & y (bits that are 1 in both x and y)

Bitwise XOR -> x ^ y (bits that are 1 in x or y but not both)

Bitwise NOT ~x (inverts all bits of x)

Bitwise Left Shift x << 2 (shifts bits of x left by 2 positions)

Bitwise Right Shift x >> 2 (shifts bits of x right by 2 positions)

Bitwise OR -> x | y (bits that are 1 in both x and y)

In [38]:
# Bitwise AND
result_and = 10 & 6  # Binary representation: 1010 & 0110
print("Bitwise AND:", result_and)  # Output: 2

# Bitwise OR
result_or = 10 | 6  # Binary representation: 1010 | 0110
print("Bitwise OR:", result_or)  # Output: 14

# Bitwise XOR
result_xor = 10 ^ 6  # Binary representation: 1010 ^ 0110
print("Bitwise XOR:", result_xor)  # Output: 12

# Bitwise NOT
result_not = ~10  # Inverting bits of 10
print("Bitwise NOT:", result_not)  # Output: -11 (Due to two's complement representation)

# Left Shift
result_left_shift = 5 << 2  # Shifting binary representation of 5 to the left by 2
print("Left Shift:", result_left_shift)  # Output: 20

# Right Shift
result_right_shift = 5 >> 2  # Shifting binary representation of  5 to the right by 2
print("Right Shift:", result_right_shift)  # Output: 1

Bitwise AND: 2
Bitwise OR: 14
Bitwise XOR: 12
Bitwise NOT: -11
Left Shift: 20
Right Shift: 1

**6.Identity Operators**

**Identity operators are used to compare the memory locations of two objects.

is -> Returns True if both variables point to the same object
(x is y)

is not -> Returns True if both variables point to different objects (x is not y)

In [39]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)       # True, because b is the same object as a
print(a is c)       # False, because c is a different object with the same content
print(a is not c)   # True, because a and c are not the same object

True
False
True

**7.Membership Operators**

**Membership operators are used to test whether a value is found within a sequence, such as a string, list, tuple, etc.

in -> Returns True if a value is found in the sequence ("a" in "apple")

not in -> Returns True if a value is not found in the sequence ("b" not in "apple")

In [41]:
fruits = ["apple", "banana", "dragonfruit"]
print("apple" in fruits)     # True, because "apple" is in the list
print("mango" not in fruits) # True, because "grape" is not in the list

True
True

#5.Explain the concept of type casting in Python with examples.

Type casting in Python refers to the process of converting a variable from one data type to another. Python supports several built-in functions for type casting, allowing you to convert variables between different data types. Here are some commonly used type casting functions in Python:

1.int(): Converts a variable to an integer.

2.float(): Converts a variable to a floating-point number.

3.str(): Converts a variable to a string.

4.bool(): Converts a variable to a Boolean value

5.tuple(): Converts a value to a tuple.

6.dict(): Converts a value to a dictionary.

7.set(): Converts a value to a set..

Here are some examples to illustrate type casting in Python:

**1.Converting String to Integer (int()):**

In [47]:
str_num = "10"
int_num = int(str_num)  # Converts the string "10" to an integer 10
print(int_num)  # Output: 10

10

**2.Converting Integer to Float (float()):**

In [48]:
int_num = 5
float_num = float(int_num)  # Converts the integer 5 to a floating-point number 5.0
print(float_num)  # Output: 5.0

5.0

**3.Converting Float to Integer (int()):**

In [49]:
float_num = 7.9
int_num = int(float_num)  # Converts the floating-point number 7.9 to an integer 7 (truncates the decimal part)
print(int_num)  # Output: 7

7

**4.Converting Number to String (str()):**

In [50]:
num = 100
str_num = str(num)  # Converts the integer 100 to a string "100"
print(str_num)  # Output: "100"

100

**5.Converting List to Tuple (tuple()):**

In [51]:
list_data = [1, 2, 3]
tuple_data = tuple(list_data)  # Converts the list [1, 2, 3] to a tuple (1, 2, 3)
print(tuple_data)  # Output: (1, 2, 3)

(1, 2, 3)

**6.Converting Tuple to List (list()):**

In [52]:
tuple_data = (4, 5, 6)
list_data = list(tuple_data)  # Converts the tuple (4, 5, 6) to a list [4, 5, 6]
print(list_data)  # Output: [4, 5, 6]

[4, 5, 6]

**7.Converting List to Set (set()):**

In [53]:
list_data = [1, 2, 2, 3, 3, 3]
set_data = set(list_data)  # Converts the list to a set, removing duplicates: {1, 2, 3}
print(set_data)  # Output: {1, 2, 3}

{1, 2, 3}


**Conclusion:**

Implicit Type Casting: Python automatically converts data types in certain expressions (e.g., int to float in arithmetic operations).

Explicit Type Casting: The programmer manually converts data types using the functions mentioned above.

Type casting allows you to convert variables from one data type to another, enabling you to perform operations and manipulate data more effectively in Python.

#6.How do conditional statements work in Python? Illustrate with examples.

Conditional statements in Python allow you to execute different blocks of code based on certain conditions. They are used to control the flow of a program by making decisions based on logical conditions.

Types of Conditional Statements in Python

**1.if statement:** Executes a block of code if a specified condition is True.

**2.elif statement:** Stands for "else if" and allows you to check multiple expressions for True and execute a block of code as soon as one condition is True.

**3.else statement:** Executes a block of code if all preceding conditions are False.

In [4]:
#if statement
x = 10
if x > 5:
    print("x is greater than 5")
#In this example, if the condition x > 5 is true, the indented block of code under the if statement will be executed.

x is greater than 5

In [5]:
#elif statement
x = 3
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

#Here, if the condition x % 2 == 0 is true, the first block of code will be executed;
#otherwise, the block of code under the else statement will be executed.

x is odd

In [6]:
#if-elif-else statement
age = 25
if age < 18:
    print("You are a minor")
elif age >= 18 and age < 65:
    print("You are an adult")
else:
    print("You are a senior citizen")

#depending on the value of age, the corresponding block of code will be executed.
#The elif allows testing for additional conditions,
#and the else block serves as a catch-all if none of the previous conditions are true.

You are an adult

**How conditional statements work:**

1.When a conditional statement is encountered, the condition is evaluated.

2.If the condition is true, the indented block of code under the statement is executed.

3.If the condition is false, the block is skipped (in the case of if), or the block under the else statement is executed (in the case of if-else).

4.In the case of if-elif-else, the conditions are evaluated one by one, and the block corresponding to the first true condition is executed, or the else block is executed if none of the conditions are true.

Conditional statements are fundamental to creating logic and controlling the flow of a program in Python, allowing for different actions to be taken based on varying conditions.

#7.Describe the different types of loops in Python and their usecases with examples.

In Python, there are three main types of loops: for loop, while loop, and nested loops. Each type of loop serves a specific purpose and can be used in different scenarios.

**1. for loop:** The for loop is used when you know the number of iterations needed. It is commonly used to iterate over a sequence (such as a list, tuple, string, or dictionary) or to execute a block of code a specific number of times.

In [7]:
# Iterate over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
#the for loop iterates over each element in the fruits list and prints each fruit.

apple
banana
cherry

**2. while loop:** The while loop is used when you want to execute a block of code as long as a specified condition is true. It is suitable when you may not know in advance how many times the code needs to be executed.

In [8]:
# Using while loop to print numbers from 1 to 5
num = 1
while num <= 5:
    print(num)
    num +=
#the while loop continues to execute and print num as long as num is less than or equal to 5.

1
2
3
4
5

**3. Nested loops:** Nested loops are loops within loops. They are used when you need to perform repetitive tasks within repetitive tasks, such as iterating over a 2D list or matrix.

In [9]:
# Using nested loops to iterate over a 2D list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()


#the outer loop iterates over each row of the 2D list matrix,
#while the inner loop iterates over each element within the row and prints it.

1 2 3
4 5 6
7 8 9

Each type of loop has its specific use case, and choosing the right type of loop depends on the scenario and the nature of the iterative task. Loops are fundamental for iterating through data, performing repetitive tasks, and controlling the flow of a program.